<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">
	
	<!--应用名称-->  
    <dubbo:application name="online_bookstore" />  
  
    <!-- 注册地址 -->  
	<dubbo:registry address="zookeeper://112.74.18.231:2181" />  
    <!-- 接口的位置 --> 
      
    <dubbo:service interface="com.online_bookstore.service.AddressService"  ref="addressService"/>
    <dubbo:service interface="com.online_bookstore.service.AuthorService"  ref="authorService"/>
    <dubbo:service interface="com.online_bookstore.service.BookImgsService"  ref="bookImgsService"/>
    <dubbo:service interface="com.online_bookstore.service.BookService"  ref="bookService"/>
    <dubbo:service interface="com.online_bookstore.service.OrderOfItemService"  ref="orderOfItemService"/>
    <dubbo:service interface="com.online_bookstore.service.OrderService"  ref="orderService"/>
    <dubbo:service interface="com.online_bookstore.service.ReviewService"  ref="reviewService"/>
    <dubbo:service interface="com.online_bookstore.service.ShoppingCartService"  ref="shoppingCartService"/>
    <dubbo:service interface="com.online_bookstore.service.UserService"  ref="userService"/>
    <dubbo:service interface="com.online_bookstore.service.VideoService"  ref="videoService"/>
	





</beans>

